{% extends 'all-pages/base.html' %}
{% load bootstrap4 %}
{% block content %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
.hr{ 
    display: block;
    margin-left:200px;
    margin-right: 200px;
    border-style: inset;
    border-width: 1px;
} 
footer{
    /* position: fixed; */
    background-color:transparent;
    left: 0;
    bottom: 0;
    width: 100%;
    color:rgb(8, 8, 8);
    text-align: center;
    font-size: 10px;
}
</style>
<body>

<br><br><br>
<div>
    <footer>
        <hr class="hr">
        <p>@2019 by ____ProDevloper.Proudly Created</p>
    </footer>
</div>   
</body>

{% endblock %}
</html>
 

 