{% extends 'my_bread/base.html'%}
{% load bootstrap3% }
{% block content %}
<br><br><br><br>

 <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <img src="/static/images/Screenshot from 2019-10-25 16-11-37.png">
    </div>
    <div class="col-md-4">
        <img src="http://7-themes.com/data_images/out/7/6790945-free-bakery-wallpaper.jpg" >
    </div>
    <div class="col-md-3">
        <img src="static/images/image.jpg">
    </div>
    <div class="col-md-1"></div>
 </div>

<img src="http://7-themes.com/data_images/out/7/6790945-free-bakery-wallpaper.jpg" >
{% endblock%}